{% extends "layout.html" %}
{% block content %}
<div class="container">
   <div class="row">
      <div class="col-lg-3 col-12 sidebar">
         {% include "header_2.html" %}
         {{ modules|raw }}
      </div>
      <div class="col-lg-9 col-12 mainbar index mt-lg-0 mt-2">
         <div class="desc position-relative p-4 mb-2">
            <div class="store-name mb-3">
               <span>Bienvenido al oficial</span>
               <h1>{{store.name}}</h1>
            </div>
            {{ index.description|raw }}
         </div>
         <div class="support p-4 mb-2">
            <h4 class="mb-2"><i class="fa-solid fa-life-ring me-1"></i>Ayuda y Soporte</h4>
            <p>¡Contamos con un equipo de Staff activo y apasionado que siempre está feliz de ayudarte o responder tus preguntas!</p>
            <p>La manera más rápida de hacer preguntas o buscar ayuda con problemas menores es <b>unirse a nuestro Servidor de Discord</b>.</p>
            <a class="btn btn-discord drop-shadow" href="{{discordLink}}" target="_blank"><i class="fa-brands fa-discord me-1"></i>Servidor de Discord</a>
         </div>
         <div class="policy mx-0">
            <div class="p-4 refund-policy">
               <div class="mb-3">
                  <h4 class="mb-2"><i class="fa-solid fa-triangle-exclamation me-1"></i>Politica de reembolso</h4>
                  <p>Todos los pagos son <b>definitivos</b> y <b>no reembolsables</b>. Intentar un contracargo o abrir una disputa de PayPal resultará en un <b>baneo permanente</b> e <b>irreversible</b> de todos nuestros servidores y otras tiendas.</p>
               </div>
               <a class="btn toggle-modal w-100 drop-shadow" href="javascript:void(0);" data-remote="/terms"><i class="fa-solid fa-square-arrow-up-right me-1"></i>Términos y Condiciones</a>
            </div>
            <div class="p-4 privacy-policy">
               <div class="mb-3">
                  <h4 class="mb-2"><i class="fa-solid fa-user-shield me-1"></i>Política de privacidad</h4>
                  <p>Toda la información que se requiere en esta tienda en línea <b>no se comparte</b> con terceros y se almacena de manera <b>segura</b>. Todos los pagos se procesan a través de pasarelas habilitadas para SSL y aseguran que tus detalles de pago estén seguros.</p>
               </div>
               <a class="btn toggle-modal w-100 drop-shadow" href="javascript:void(0);" data-remote="/tebex-privacy"><i class="fa-solid fa-square-arrow-up-right me-1"></i>Política de Privacidad</a>
            </div>
         </div>
      </div>
   </div>
</div>
{% include "content_footer.html" %}
{% endblock %}