{% extends "layout.html" %}

{% block content %}
    
    <div class="container login mt-lg-0 mt-2">
   <div class="row">
      <div class="col-md-3 col-12 sidebar">
         {% include "header_2.html" %}
         {{ modules|raw }}
      </div>
      <div class="col-md-9 col-12 mainbar">
               
         <div class="login-info p-4 mb-2 position-relative">
             <h4 class="mb-2"><i class="fa-solid fa-hourglass-start me-1"></i>{{ __("Esperando confirmación de pago") }}</h4>
             <p>
                        {{ __("Estamos esperando la confirmación de que tu pago ha sido aceptado. Recibirás un correo electrónico tan pronto como esto suceda. Si no has escuchado nada en los próximos 60 minutos, por favor contacta al personal del servidor.") }}
                    </p>
                    <p class="mb-0">
                        {{ __("Si tienes algún problema, por favor contacta a un miembro del personal en el servidor. Por favor, no contactes a Mojang o Buycraft. Esta página no es prueba de compra, por favor proporciona al soporte de la tienda tu ID de transacción si hay algún problema con el pago.") }}
                    </p>
         </div>
      </div>
   </div>
</div>

    {% include "content_footer.html" %}

{% endblock %}