{% if checkout.gameCurrency.verified is defined and checkout.gameCurrency.verified == false %}
    <div class="page-header">
        <h4>{{ __("Moneda Virtual") }}</h4>
    </div>
    <p>Podrías usar tu moneda virtual para hacer compras en nuestra tienda en línea, pero primero necesitas crear una cuenta Tebex e iniciar sesión con un perfil verificado.</p>
{% elseif checkout.gameCurrency.verified == true and checkout.gameCurrency.basketValue %}
    <div class="page-header">
        <h4>{{ __("Moneda Virtual") }}</h4>
    </div>
    <form method="post" action="/checkout/gamecurrency">
        <div class="row">
            <div class="col-sm-12 col-md-9" id="game-currency-text">
                {% if basket.gameCurrency != null %}
                    <p>Estás usando la moneda virtual para esta compra, eliminaremos {{ checkout.gameCurrency.symbol }}{{ checkout.gameCurrency.spentBalance }} de tu saldo virtual.</p>
                {% else %}
                    <p>Tu saldo virtual es {{ checkout.gameCurrency.symbol }}{{ checkout.gameCurrency.balance }}, esto equivale a {{ checkout.gameCurrency.basketValue }} {{ basket.currency }}.</p>
                {% endif %}

                {% if checkout.gameCurrency.minimumSpend.value > basket.gameCurrency %}
                    <p>Se requiere que gastes al menos {{ checkout.gameCurrency.symbol }}{{ checkout.gameCurrency.minimumSpend.balance }} ({{ checkout.gameCurrency.minimumSpend.basketValue }} {{ basket.currency }}) en moneda virtual para completar esta compra.</p>
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-3">
                <button class="btn btn-primary pull-right">{{ basket.gameCurrency != null ? __("Eliminar moneda virtual") : __("Usar moneda virtual") }} <i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
    </form>
{% endif %}

